<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>hei.devweb.controllers.AccueilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Tea</servlet-name>
    <servlet-class>hei.devweb.controllers.TeaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Annonces</servlet-name>
    <servlet-class>hei.devweb.controllers.AnnoncesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeposerAnnonce</servlet-name>
    <servlet-class>hei.devweb.controllers.DeposerAnnonceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionTea</servlet-name>
    <servlet-class>hei.devweb.controllers.GestionTeaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Administration</servlet-name>
    <servlet-class>hei.devweb.controllers.AdministrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidationAnnonces</servlet-name>
    <servlet-class>hei.devweb.controllers.ValidationAnnoncesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiderAnnonce</servlet-name>
    <servlet-class>hei.devweb.controllers.ValiderAnnonceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Postuler</servlet-name>
    <servlet-class>hei.devweb.controllers.PostulerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>hei.devweb.controllers.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>hei.devweb.controllers.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Postuler</servlet-name>
    <url-pattern>/postuler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiderAnnonce</servlet-name>
    <url-pattern>/validerannonce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationAnnonces</servlet-name>
    <url-pattern>/validationannonces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionTea</servlet-name>
    <url-pattern>/gestiontea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeposerAnnonce</servlet-name>
    <url-pattern>/deposerannonce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Annonces</servlet-name>
    <url-pattern>/annonces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tea</servlet-name>
    <url-pattern>/tea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>